{% extends 'dct/base.html' %}

{% block content %}
{{ super() }}


<main class="form-signin w-100 m-auto">
  <form action="add_text" method="POST">

    <h1 class="h3 mb-3 fw-normal text-center">{{ title }}</h1>
    <!-- Flashed messages -->

      {% for cat, msg in get_flashed_messages(True) %}
      <div class="row bg-{{cat}} bg-opacity-50 border border-{{cat}} text-white">
        <div class="flash">{{msg}}</div>
      </div>
      {% endfor %}

    <div class="mb-3 text-start">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input name="title" type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3 text-start">
      <label for="exampleFormControlTextarea1" class="form-label">Text </label>
      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-success col-2" type="submit">Add</button>
    </div>


  </form>
</main>


{% endblock %}