{% extends 'dct/base.html' %}

{% block content %}
{{ super() }}

<h5> {{ title }} </h5>
{% for wrd in words %}

<div class="row mb-2 pt-2 border-top">
  <a data-bs-toggle="collapse" class="text-decoration-none" href="#collapseExample_{{ wrd['id'] }}" role="button"
    aria-expanded="false" aria-controls="collapseExample_{{ wrd['id'] }}">
    <strong class="h5">{{ wrd['text'] }}</strong>
    <em class="text-muted">[{{ wrd['ts'] }}]</em>
  </a>

</div>

<div class="collapse" id="collapseExample_{{ wrd['id'] }}">
  <div class="card card-body">

    {% if wrd['tr'] %}
    <br><strong class="h6"> Translated words </strong></br>
    <table class="table table-hover">
      {% for rus_wrd in wrd['tr'] %}
      {% for pos, tr in rus_wrd.items() %}

      <tr>
        <td><em class="text-muted">{{ pos }} </em></td>
        <td>
          {% for wrd in tr %}
          {{ wrd }};
          {% endfor %}
        </td>
      </tr>

      {% endfor %}
      {% endfor %}
    </table>
    {% endif %}


{% if wrd['ex'] %}
    <p><strong class="h6"> Examples </strong></p>
    <table class="table table-hover">

      {% for rus_wrd in wrd['ex'] %}
      {% for pos, ex in rus_wrd.items() %}
      {% for wrd in ex %}

      <tr>
        <td><em class="text-muted">{{ pos }} </em> </td>
        <td>{{ wrd }};</td>
      </tr>

      {% endfor %}
      {% endfor %}
      {% endfor %}
    </table>
    {% endif %}

  </div>
</div>


{% endfor %}


{% endblock %}