{% extends 'dct/base.html' %}

{% block content %}
{{ super() }}



<h5 class="pb-2 pt-2"> {{ text.title }} </h5>
{% for wrd in words %}

<div class="row mb-2 pt-2 border-top">
  <a data-bs-toggle="collapse" class="text-decoration-none" href="#collapseExample_{{ wrd['id'] }}" role="button"
    aria-expanded="false" aria-controls="collapseExample_{{ wrd['id'] }}">
    <strong class="h5">{{ wrd['text'] }}</strong>
    <em class="text-muted">[{{ wrd['ts'] }}]</em>
  </a>

</div>

<div class="collapse" id="collapseExample_{{ wrd['id'] }}">
  <div class="card card-body">

    {% if wrd['tr'] %}
    <br><strong class="h6"> Translated words </strong></br>
    <table class="table table-hover">
      {% for rus_wrd in wrd['tr'] %}
      {% for pos, tr in rus_wrd.items() %}

      <tr>
        <td><em class="text-muted">{{ pos }} </em></td>
        <td>
          {% for wrd in tr %}
          {{ wrd }};
          {% endfor %}
        </td>
      </tr>

      {% endfor %}
      {% endfor %}
    </table>
    {% endif %}


    {% if wrd['ex'] %}
    <p><strong class="h6"> Examples </strong></p>

    {% for rus_wrd in wrd['ex'] %}
    {% for pos, ex in rus_wrd.items() %}

    <p><strong class="text-muted"> {{ pos }} </strong></p>
    <table class="table table-hover">
      {% for wrd in ex %}

      <tr>
        <td>{{ wrd }}</td>
      </tr>

      {% endfor %}
    </table>
    {% endfor %}
    {% endfor %}

    {% endif %}

  </div>
</div>


{% endfor %}

<!-- Paginate -->
<div class="pt-4">


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center text-secondary">

    <li {% if pages.has_prev %} class="page-item" {% else %} class="page-item disabled" {% endif %}>
      <a class="page-link text-secondary" href="./show_text-{{ text.id }}?page={{ pages.prev_num }}"
        aria-label="Previous">
        <span aria-hidden="false">&laquo;</span>
      </a>
    </li>

    {% for page in pages.iter_pages() %}

        {% if page == pages.page %}
        <li class="page-item active" aria-current="page"> <span class="page-link"> {{page}} </span> </li>
        {% else %}
            {% if page %}
            <li class="page-item"><a class="page-link text-secondary" href="./show_text-{{ text.id }}?page={{ page }}"> {{page}}
              </a></li>
            {% else %}
            <li class="page-item disabled" aria-current="page"> <span class="page-link"> ... </span> </li>
            {% endif %}
        {% endif %}

    {% endfor %}

    <li {% if pages.has_next %} class="page-item" {% else %} class="page-item disabled" {% endif %}>
      <a class="page-link text-secondary" href="./show_text-{{ text.id }}?page={{ pages.next_num }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>

</div>



{% endblock %}